<%- include('./nav.ejs') %>
    <div class="container m-auto py-5 ">
        <form class="form-control mb-3 bg-dark shadow">
            <input class="form-control mb-3 " placeholder="ingresa correo para enviar email" id="email" />
            <button class="btn btn-success mb-3" type="button" onclick="enviarCorreo()">enviar
                correo</button>
        </form>
    </div>
    <%- include('./footer.ejs') %>